.heading{
    width: 100%;
    font-size: 25px;
    margin-top: 0px;
    box-shadow: 5px  5px 5px grey;
;
}

.names{

    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    float: none;
    box-shadow: 5px  5px 5px grey;
}

canvas 
{ border:5px solid white;
     border-radius:20px;
      box-shadow:5px 5px 5px grey;
       margin-top: 300px;
    
    }


    .copy_right_footer { position: fixed; color: white; bottom: 0; width: 100%; background-color:grey; line-height: 3; text-align: center; }
.result { box-shadow:5px 5px 5px grey; font-size: 20px; }